parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#arrayPropItemTypeMap\(\) is unused.$#'
            path: ./tests/*
services:
    -
        class: ADS\JsonImmutableObjects\PhpStan\PropertiesExtension
        tags:
            - phpstan.properties.readWriteExtension