grumphp:
    fixer:
        enabled: true
        fix_by_default: true
    ascii:
        succeeded: ~
        failed: ~
    tasks:
        phpcs:
        phpstan:
            memory_limit: "256M"
        phpmd:
            ruleset:
                - phpmd.xml
        git_commit_message: null
        git_branch_name:
            whitelist:
                - "/^(feature|hotfix)\\/([A-Z]+-[0-9]+-)?.+$/"
                - "/^(main)$/"

