<?php

declare(strict_types=1);

use Rector\Config\RectorConfig;
use Rector\Core\ValueObject\PhpVersion;
use Rector\Set\ValueObject\LevelSetList;

return static function (RectorConfig $rectorConfig): void {
    // get parameters
    $rectorConfig->paths(
        [
            __DIR__ . '/Endpoint',
            __DIR__ . '/Model',
            __DIR__ . '/Factory',
            __DIR__ . '/Client.php',
            __DIR__ . '/ClientBuilder.php',
        ],
    );
    $rectorConfig->phpVersion(PhpVersion::PHP_81);
    $rectorConfig->import(LevelSetList::UP_TO_PHP_81);
};
